<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="LOGS" value="C:/apps/logs" />

    <appender name="Console"
        class="ch.qos.logback.core.ConsoleAppender">
         <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
                <level>INFO</level>
          </filter>
        <layout class="ch.qos.logback.classic.PatternLayout">
        
            <Pattern>
              %d{dd-MM-yyyy HH:mm:ss.SSS} [%-5level] %logger.%M : %L - %msg%n
            </Pattern>
        </layout>
    </appender>

    <appender name="RollingFile"
        class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS}/application.log</file>
         <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
                <level>DEBUG</level>
          </filter>
        <encoder
            class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%L %d %p %C{1.} [%t] %m%n</Pattern>
        </encoder>

        <rollingPolicy
            class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily and when the file reaches 10 MegaBytes -->
            <fileNamePattern>${LOGS}/archived/application-log-%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

       <appender name="ErrorFile"
        class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS}/application_error.log</file>
          <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
                <level>ERROR</level>
          </filter>
        <encoder
            class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
             <Pattern>%L %d %p %C{1.} [%t] %m%n</Pattern>
        </encoder>

        <rollingPolicy
            class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily and when the file reaches 10 MegaBytes -->
            <fileNamePattern>${LOGS}/archived/application_error-log-%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

   <logger name="com.ss" level="debug" additivity="false">
        <appender-ref ref="Console" />
        <appender-ref ref="RollingFile" />
        <appender-ref ref="ErrorFile" />
    </logger>

    <!-- <logger name="com.ss.training" level="info" additivity="false">
        <appender-ref ref="Console" />
    </logger> -->


</configuration>
